<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Exer1.Properties.Settings.db2ConnectionString" connectionString="Data Source=DESKTOP-2N78NV2\;Initial Catalog=db2;User ID=DARKSIDERS;Password=deathfurystrifewar" providerName="System.Data.SqlClient"/>
    </connectionStrings>
  
  <startup useLegacyV2RuntimeActivationPolicy="true">
    
<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
